

/*====================================

 Free To Use For Personal And Commercial Usage

Author: http://binarytheme.com

 Share Us if You Like our work 

 Enjoy Our Codes For Free always.

======================================*/



/* user image section */

.user-section {

    margin-top:20px;

    font-size:22px;

    background-color:#00a2d1;

}



.cuablanco{

    width: 226px;

    height: 121px;

    background-color: #ffffff;

    margin-left: 10px;

    margin-bottom: 10px;

    border-radius: 0px 0px 15px 15px;



}

.user-section-inner {

    height: 65px;

width: 65px;

-moz-border-radius: 3px;

-webkit-border-radius: 3px;

border-radius: 3px;

overflow: hidden;

display: inline-block;

float: left;

margin-right: 15px;

margin-top: 20px;

}

    .user-section-inner img {

        margin-left:10px;

        width:55px;

        height:60px;

        

    }

.user-info {

    display: block;

    color:#000!important;

    

    padding: 10px;

    margin-bottom: 0px;

    font-size:14px;

    font-style: normal;

    margin-top: 15px;

}



.bien{

    color:#2056b0;

    font-size: 12px;



}

.user-text-online {

    font-size:18px;

    color:#fff

}

.user-circle-online {

    width: 15px!important;

    height: 15px!important;

}



/* side-menu section */

.nav > li > a:hover, .nav > li > a:focus {

    background-color:rgba(74, 72, 126, 0);

}

.navbar-top-links  .open > a, .nav .open > a:hover, .nav .open > a:focus {

    background-color: #00326b;
    color: #ffffff !important;

}

.navbar-top-links > li > a {

color: #FFFFFF;

}

.nav > li > a {

padding: 20px 15px;

}

#side-menu {

    background-color:#00a2d1;

}



#side-menu a {

            color:#fff;

           border-bottom: 1px solid #FFF !important;

           height: 100%;

           

        }

        .selected {

            background-color:#1F56AF;

        }

/* back colors */

        .blue {

            background-color:rgb(113, 159, 241);

        }

         .green {

            background-color:rgb(144, 236, 192);

        }

          .red {

            background-color:rgb(255, 102, 133);

        }

        .yellow {

            background-color:rgb(237, 253, 46);

        }



/* No border */

.no-boder {

    border:0px solid #5bc0de !important;

}

/* tap nvbar Section */



#navbar {

    background-image:url('../img/backcabecera.jpg');

    background-repeat: repeat;

}



.navbar-brand {

    padding-left:20px;

}

.navbar-brand img {

   

}

.top-label {

    position: absolute;

top: 50%;

right: 50%;

margin-top: -24px;

margin-right: -24px;

}



/*large font*/

.large-font {

    font-size:18px;

}



.body-Login-back {

    

    background:url('../../images/back.png')!important;

}



.margin-tips {

    margin:5px;

}

.navbar-default {

border-color: #27A6BE;

}

/*media queries*/



@media(min-width:768px) 

{

    #page-wrapper {

        position: inherit;

        margin: 0 0 0 250px;

        padding: 0 30px;

        m#in-height: 1000px;

       

       

    }



}



@media(max-width:768px) {

#wrapper {

    margin-top:140px!important;

    

}

}


